table{
    background-color: rgb(31, 32, 32);
    color: rgb(12, 12, 12);
    width: 90%;
    margin:auto;
}
*{
    color:aliceblue;

}
td{
    border: solid black 2px;
}
th{
border: solid black 2px;
margin: 0;
}
#outer{
    width:100%;
    margin-right:0;
    margin:auto;
}
